<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickCash"
        tools:targetApi="31">
        <activity
            android:name=".activities.employer.EmployerHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.employee.EmployeeHistoryActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".activities.general.LoginPageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.general.ManualSearchActivity"
            android:exported="false" />
        <activity
            android:name=".activities.general.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".activities.employer.EmployerViewApplicantsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.general.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activities.employee.EmployeeAppliedJobsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.employee.EmployeeLandingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.employee.EmployeeSearchJobsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.employee.EmployeeViewAcceptedJobsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.employee.EmployeeViewJobPostingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.employee.EmployeeVisualizeJobHistoryActivity"
            android:exported="false"/>
        <activity
            android:name=".activities.employer.EmployerAddJobPostingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.employer.EmployerLandingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.employer.EmployerViewAcceptedApplicantsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.employer.EmployerPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.employer.EmployerViewJobPostingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.employer.EmployerViewPreferredEmployeesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.employer.EmployerVisualizeReputationActivity"
            android:exported="false" />
    </application>

</manifest>